<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.plugins.FacebookConnect"
      version="3.0.4">

    <name>FacebookConnect</name>

    <js-module src="www/FacebookConnect.js" name="FacebookConnect">
        <clobbers target="FacebookConnect" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalImages" >
                <param name="android-package" value="org.apache.cordova.plugins.FacebookConnect.FacebookConnect"/>
            </feature>
        </config-file>
        
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <activity android:name="org.apache.cordova.plugins.FacebookConnect"
                               android:label="@string/app_name">
                     <intent-filter>
                     </intent-filter>
             </activity> 
        </config-file>

        <source-file src="src/android/FacebookConnect.java" target-dir="src/org/apache/cordova/plugins/FacebookConnect" />
        <source-file src="src/android/facebook-android-sdk.jar" target-dir="libs/" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FacebookConnect">
                <param name="ios-package" value="FacebookConnect" />
            </feature>
        </config-file>
        
        <preference name="APP_ID" />
        <preference name="APP_NAME" />
        
        <header-file src="src/ios/FacebookConnect.h" />
        <source-file src="src/ios/FacebookConnect.m" />
        
        <config-file target="*-Info.plist" parent="FacebookAppID">
            <string>$APP_ID</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="FacebookDisplayName">
            <string>$APP_NAME</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>fb$APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>
        
        <framework src="src/ios/FacebookSDK.framework" custom="true" />
    </platform>
</plugin>
